#container-main {
  width: 100%;
  height: 100vh;
  background-image: url('../images/dan-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #header-logo {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}
#header #header-logo img {
  width: 10rem;
}

#header #header-title {
  font-family: 'Permanent Marker', cursive;
}
#header-menu {
  font-family: 'Architects Daughter', cursive;
  color: white;
  font-size: 1.5rem;
}
#header #header-menu ul {
  display: flex;
}
#header #header-menu ul li {
  padding-right: 2rem;
  font-weight: bolder;
  cursor: pointer;
}
#header #header-menu ul > li div {
  display: inline-block;
  transform: scaleX(1) scaleY(1);
  transition: all 0.5s ease;
}
#header #header-menu ul > li div.colorFade {
  color: limegreen;
  transform: scaleX(1.4) scaleY(1.4);
}

#main-text {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: 100%;
  white-space: pre-wrap;
  font-size: 4rem;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  color: white;
  text-align: center;
}

#main-text div {
  opacity: 0;
  display: inline-block;
}
#main-text div.fade {
  opacity: 1;
  transform: rotateZ(0deg);
}

#main-text div.mainTextFade {
  transform: rotateZ(15deg);
}

#container-profile {
  position: relative;
  width: 100%;
}

.profileLefton {
  opacity: 1;
  transform: translateX(0px);
}
.profileRightOn {
  opacity: 1;
  transform: translateX(0px);
}
